/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Retina Media Queries
2.0 - Mobile
3.0 - Tablet
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Retina Media Queries
--------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {  
/*	.supLx, 
	.indCriativas, 
	.slide-down, 
	.applestore-link, 
	.info-subcontainer:before, 
	.faces-icon, .ST-small-logo, 
	.nav-arrow, .first-slide-icon, 
	.second-slide-icon, 
	.third-slide-icon, 
	.partners-logos li {
		/* Reference the @2x Sprite 
		background-image: url(../images/sprite@2x.png);
		/* Translate the @2x sprite's dimensions back to 1x 
		background-size: 560px 464px; 
	}
*/
	.info-subcontainer:before {
		background-position: -300px -424px;
	}
}

/*--------------------------------------------------------------
2.0 - Mobile
--------------------------------------------------------------*/
@media screen and (max-width: 639px) {
	/* 3.4.1 - Slider section */
	.info-container {
		min-height: 440px;
	}

	.info-slider-container {
		height: 290px;
	}

	.top-logo {
		width: 82px;
		height: 82px;
	}

	.nav-arrow {
		width: 90px;
		height: 90px;
	}

	.info-slider {
		width: 300px;
	}

	.phone-container ul {
		top: 29px;
		left: 10px;
		width: 109px;
		height: 191px;
	}

	.phone-container li {
		width: 109px;
	}

	.content-list li {
		height: 150px;
	}

	.image, .slide-content {
		width: 130px;
		height: 250px;
	}

	.slide-content .title {
		font-size: 36px;
	}

	.slide-content p:nth-of-type(2) {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.slide-content p:nth-of-type(2) span {
		font-size: 11px;
	}

	.info-slider .applestore-link {
		width: 90px;
		height: 26px;
		margin-bottom: 10px;
	}

	.content-list .upper {
		font-size: 7px;
	}

	.slider-nav a {
		width: 6px;
		height: 6px;
	}

	.logos li {
		font-size: 11px;
	}

	.logos li a {
		background-size: auto 52px;
		height: 52px;
		width: 80px;
	}

	.logos li:nth-of-type(2) a {
		background-position: -80px 0px;
	}

	.logos li:nth-of-type(3) a {
		background-position: -160px 0px;
	}

	.logos li:nth-of-type(4) a {
		background-position: -240px 0px;
	}

	.logos li:nth-of-type(5) a {
		background-position: -320px 0px;
	}

	.logos li:nth-of-type(6) a {
		background-position: -400px 0px;
	}
}

@media screen and (max-width: 480px) {	
	/* 3.1 - Main Content */
	.home-intro {
		height: 400px;
		width: 300px;
	}

	.intro-logo {
		width: 280px;
		height: 190px;
	}

	.intro-text {
		font-size: 14px;
	}

	.video-link {
		width: 100px;
		height: 100px;
	}

	.bottom-content {
		height: 65px;
	}

	.bottom-content .applestore-link {
		display: none;
	}

	.slide-down {
		width: 80px;
		height: 80px;
	}

	/* 3.4.1 - Slider section */	
	.info-container {
		min-height: 540px;
	}

	.info-slider-container {
		top: -70px;
	}

	.nav-arrow { /*****/
		display: none;
	}

	.info-slider { /*****/
		width: 270px;
	}

	.logos-container { /****/
		padding: 0 10px;
	}
}

@media screen and (min-width: 480px) and (max-width: 639px) {
	/* 3.1 - Main Content */
	.home-intro {
		height: 320px;
		width: 300px;
	}

	.intro-logo {
		width: 300px;
		height: 190px;
	}

	.intro-text {
		font-size: 18px;
	}

	.video-link {
		width: 120px;
		height: 120px;
	}

	/* 3.3 - Bottom Content */
	.bottom-content {
		height: 70px;
	}

	.slide-down {
		width: 68px;
		height: 68px;
	}

	.applestore-link {
		width: 96px;
		height: 28px;
	}

	.nav-arrow {
		width: 74px;
		height: 74px;
	}
}

@media screen and (min-width: 640px) and (max-width: 767px) {	
	/* 3.1 - Main Content */
	.home-intro {
		height: 490px;
		width: 380px;
	}

	.intro-logo {
		width: 370px;
		height: 240px;
	}

	.intro-text {
		font-size: 20px;
	}

	.video-link {
		width: 150px;
		height: 150px;
	}

	.applestore-link {
		width: 120px;
		height: 36px;
	}

	/* 3.3 - Bottom Content */
	.bottom-content {
		height: 85px;
	}

	.slide-down {
		width: 83px;
		height: 83px;
	}

	/* 3.4.1 - Slider section */
	.info-container {
		min-height: 500px;
	}

	.info-slider-container {
		height: 350px;
	}

	.top-logo {
		width: 104px;
		height: 104px;
	}

	.nav-arrow {
		width: 93px;
		height: 93px;
	}

	.info-slider {
		width: 400px;
	}

	.image, .slide-content {
		width: 162px;
		height: 315px;
	}

	.phone-container ul {
		top: 37px;
		left: 14px;
		width: 134px;
		height: 238px;
	}

	.phone-container li {
		width: 138px;
	}

	.content-list li {
		height: 200px;
	}

	.slide-content .title {
		font-size: 45px;
	}

	.slide-content p:nth-of-type(2) {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.slide-content p:nth-of-type(2) span {
		font-size: 14px;
	}

	.info-slider .applestore-link {
		width: 105px;
		height: 30px;
		margin-bottom: 20px;
	}

	.content-list .upper {
		font-size: 8px;
	}

	.slider-nav li {
		margin: 0 2px;
	}

	.slider-nav a {
		width: 6px;
		height: 6px;
	}

	.logos li {
		font-size: 12px;
	}

	.logos li a {
		background-size: auto 65px;
		height: 65px;
		width: 100px;
		margin-bottom: 20px;
	}

	.logos li:nth-of-type(2) a {
		background-position: -100px 0px;
	}

	.logos li:nth-of-type(3) a {
		background-position: -200px 0px;
	}

	.logos li:nth-of-type(4) a {
		background-position: -300px 0px;
	}

	.logos li:nth-of-type(5) a {
		background-position: -400px 0px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	/* 3.4.1 - Slider section */
	.info-container {
		min-height: 760px;
	}

	.info-slider-container {
		height: 470px;
	}

	.top-logo {
		width: 132px;
		height: 132px;
	}

	.nav-arrow {
		width: 120px;
		height: 120px;
	}

	.info-slider {
		width: 500px;
	}

	.image, .slide-content {
		height: 410px;
		width: 210px;
	}

	.phone-container ul {
		top: 47px;
		left: 18px;
		width: 174px;
		height: 308px;
	}

	.phone-container li {
		width: 178px;
	}

	.content-list li {
		height: 260px;
	}

	.slide-content .title {
		font-size: 65px;
	}

	.slide-content p:nth-of-type(2) {
		font-size: 24px;
		margin-bottom: 30px;
	}

	.slide-content p:nth-of-type(2) span {
		font-size: 16px;
	}

	.info-slider .applestore-link {
		width: 120px;
		height: 35px;
		margin-bottom: 30px;
	}

	.content-list .upper {
		font-size: 10px;
	}

	.slider-nav a {
		width: 8px;
		height: 8px;
	}

	.logos li {
		font-size: 14px;
	}

	.logos li a {
		background-size: auto 85px;
		height: 85px;
		width: 130px;
	}

	.logos li:nth-of-type(2) a {
		background-position: -130px 0px;
	}

	.logos li:nth-of-type(3) a {
		background-position: -260px 0px;
	}

	.logos li:nth-of-type(4) a {
		background-position: -390px 0px;
	}

	.logos li:nth-of-type(5) a {
		background-position: -520px 0px;
	}

	.logos li:nth-of-type(6) a {
		background-position: -650px 0px;
	}
}
	/*  
@media screen and (min-width: 1024px) and (max-width: 1279px) {
3.4 - Info Container 
	.info-container {
		padding-bottom: 110px;
	}

	/* 3.4.1 - Slider section 
	.info-slider-container {
		height: 540px;
	}

	.top-logo {
		width: 83px;
		height: 76px;
	}

	.nav-arrow {
		width: 90px;
		height: 90px;
	}

	.info-slider {
		width: 600px;
	}

	.image {
		width: 275px;
	}

	.phone-container ul {
		top: 92px;
		left: 22px;
		width: 232px;
		height: 345px;
	}

	.phone-container li {
		width: 232px;
	}

	.slide-content {
		width: 262px;
	}

	.slide-content .title {
		font-size: 31px;
	}

	.slide-content p:nth-of-type(2) {
		font-size: 25px;
	}

	.content-list .upper {
		font-size: 14px;
	}

	.slider-nav a {
		width: 10px;
		height: 10px;
	}

	.logos li a {
		background-size: auto 110px;
		height: 110px;
		width: 170px;
	}

	.logos li:nth-of-type(2) a {
		background-position: -170px 0px;
	}

	.logos li:nth-of-type(3) a {
		background-position: -340px 0px;
	}

	.logos li:nth-of-type(4) a {
		background-position: -510px 0px;
	}

	.logos li:nth-of-type(5) a {
		background-position: -680px 0px;
	}
}
*/
@media screen and (min-width: 1620px) {
	/* Main Content */
	.main-container {
		background-attachment: url(../images/home_bg_big.jpg);
	}

	/*.home-intro {
		width: 740px;
		height: 940px;
	}

	.intro-logo {
		width: 740px;
		height: 480px;
	}

	.intro-text {
		font-size: 38px;
	}

	.video-link {
		width: 300px;
		height: 300px;
	}

	.video-container {
		max-width: 1420px;
		max-height: 800px;
	}

	.bottom-content {
		height: 165px;
	}

	.slide-down {
		width: 165px;
		height: 165px;
	}

	.applestore-link {
		width: 240px;
		height: 70px;
	}*/

	/* 3.4.1 - Slider section */
	.info-container {
		min-height: 1080px;
	}

	.info-slider-container {
		height: 700px;
	}

	.top-logo {
		width: 200px;
		height: 200px;
	}

	.nav-arrow {
		width: 186px;
		height: 186px;
	}

	.info-slider {
		width: 800px;
	}

	.image, .slide-content {
		height: 635px;
		width: 325px;
	}

	.phone-container ul {
		top: 74px;
		left: 29px;
		width: 268px;
		height: 494px;
	}

	.phone-container li {
		width: 268px;
	}

	.content-list li {
		height: 450px;
	}

	.slide-content .title {
		font-size: 98px;
	}

	.slide-content p:nth-of-type(2) {
		font-size: 36px;
	}

	.slide-content p:nth-of-type(2) span {
		font-size: 26px;
	}

	.info-slider .applestore-link {
		width: 200px;
		height: 58px;
	}

	.content-list .upper {
		font-size: 16px;
	}

	.logos-container {
		font-size: 20px;
	}

	.logos li a {
		height: 130px;
		width: 200px;
	}

	.logos li:nth-of-type(2) a {
		background-position: -200px 0px;
	}

	.logos li:nth-of-type(3) a {
		background-position: -400px 0px;
	}

	.logos li:nth-of-type(4) a {
		background-position: -600px 0px;
	}

	.logos li:nth-of-type(5) a {
		background-position: -800px 0px;
	}

	.logos li:nth-of-type(6) a {
		background-position: -1000px 0px;
	}

}

@media screen and (max-height: 339px) {
	.home-intro {
		height: 400px;
		/*width: 750px;*/
	}

	.intro-logo {
		width: 250px;
		height: 170px;
		margin-top: 30px;
	}

	.intro-text {
		font-size: 16px;
	}

	.video-link {
		width: 90px;
		height: 90px;
	}

	.bottom-content {
		height: 50px;
	}

	.slide-down {
		width: 60px;
		height: 50px;
	}

	.applestore-link {
		width: 100px;
		height: 29px;
	}
}

@media screen and (min-height: 340px) and (max-height: 479px) {
	.home-intro {
		height: 400px;
		/*width: 750px;*/
	}

	.intro-logo {
		width: 300px;
		height: 200px;
	}

	.intro-text {
		font-size: 16px;
	}

	.video-link {
		width: 100px;
		height: 100px;
	}

	.bottom-content {
		height: 60px;
	}

	.slide-down {
		width: 68px;
		height: 60px;
	}

	.applestore-link {
		width: 110px;
		height: 32px;
	}
}

@media screen and (min-width: 640px) and (min-height: 480px) and (max-height: 600px) {
	.home-intro {
		height: 400px;
		/*width: 750px;*/
	}

	.intro-logo {
		width: 360px;
		height: 230px;
	}

	.intro-text {
		font-size: 20px;
	}

	.video-link {
		width: 130px;
		height: 130px;
	}

	.bottom-content {
		height: 80px;
	}

	.slide-down {
		width: 90px;
		height: 80px;
	}

	.applestore-link {
		width: 130px;
		height: 38px;
	}
}

@media only screen and (min-device-width : 480px) and (max-device-width : 568px) {
	.intro-logo {
		width: 270px;
		height: 180px;
	}

	.video-link {
		width: 90px;
		height: 90px;
		margin-top: -10px;
	}

	.bottom-content {
		height: 55px;
	}
}

@media only screen and (max-device-width : 479px) {
	.intro-logo {
		width: 280px;
		height: 190px;
	}

	.intro-text {
		font-size: 14px;
	}

	.video-link {
		width: 100px;
		height: 100px;
	}

	.bottom-content {
		height: 65px;
	}

	.slide-down {
		width: 80px;
		height: 80px;
	}
}
