/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Retina Media Queries
2.0 - Mobile
3.0 - Tablet
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Retina Media Queries
--------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {  
	.supLx, 
	.indCriativas, 
	.slide-down, 
	.applestore-link, 
	.info-subcontainer:before, 
	.faces-icon, .ST-small-logo, 
	.nav-arrow, .first-slide-icon, 
	.second-slide-icon, 
	.third-slide-icon, 
	.partners-logos li {
		/* Reference the @2x Sprite */
		background-image: url(../images/sprite@2x.png);
		/* Translate the @2x sprite's dimensions back to 1x */
		background-size: 560px 464px; 
	}

	.info-subcontainer:before {
		background-position: -300px -424px;
	}
}

/*--------------------------------------------------------------
2.0 - Mobile
--------------------------------------------------------------*/
@media screen and (max-width: 480px) {
	/* Landing */
	.home-intro {
		width: 300px;
	}

	.intro-text {
    font-size: 16px;
		margin: 0% auto;
	}

	.video-link span {
		display: none;
	}

	.landing-logos, .applestore-link {
		display: none;
	}

	/* Slider */
	.info-slider {
    height: 295px;
    margin: 30px auto;
	}

	.nav-arrow {
		display: none;
	}

	.phone {
		width: 140px;
    left: 10px;
    background-position: 0px 17px;
    background-size: 327px;
  }

  .phone-container {
    width: 138px;
    left: 10px;
	}

  .image ul {
    top: 62px;
    left: 8px;
	}

  .image li {
    width: 122px;
	}

	.slide-content {
    right: 10px;
    padding: 10px 0;
	}

	.slide-content ul {
		height: 94%;
	}

	.slide-icon {
		background-position: -282px -268px;
		width: 80px;
		height: 80px;
		margin: 0 auto;
	}

	.slide-content .title {
		text-align: center;
    font-size: 16px;
    width: 135px;
	}

	.slide-content p {
		margin-top: 10px;
	}

	.slide-content p:nth-of-type(2) {
		text-align: center;
    font-size: 12px;
    padding: 0px;
	}

	.info-slider .applestore-link {
    background-size: 464px;
    background-position: -215px -168px;
    margin-top: 0;
	}

	.slider-nav {
		left: 15px;
    bottom: 5px;
	}

	.slider-nav li {
    width: 6px;
    height: 6px;
    margin: 0px 4px;
	}

	/* Social logos */
	.social-logos li, .social-logos li:first-of-type {
		width: 100%;
		margin-bottom: 20px;
	}

	.social-logos li:first-of-type a {
		margin-top: 0;
	}

	.social-logos li p {
		margin-bottom: 0px;
	}
}

@media screen and (min-width: 480px) and (max-width: 639px) {
	.info-container {
		padding-bottom: 52px;
	}

	/* 3.4.1 - Slider section */
	.info-slider-container {
		height: 255px;
	}

	.top-logo {
		width: 40px;
		height: 36px;
	}

	.nav-arrow {
		width: 90px;
		height: 90px;
	}

	.info-slider {
		width: 300px;
	}

	.image {
		width: 130px;
	}

	.phone-container ul {
		top: 42px;
		left: 10px;
		width: 110px;
		height: 165px;
	}

	.phone-container li {
		width: 110px;
	}

	.slide-content {
		width: 122px;
	}

	.slide-content .title {
		font-size: 15px;
	}

	.slide-content p:nth-of-type(2) {
		font-size: 12px;
	}

	.content-list .upper {
		font-size: 7px;
	}

	.slider-nav a {
		width: 5px;
		height: 5px;
	}

	.logos li a {
		background-size: auto 52px;
		height: 52px;
		width: 80px;
	}

	.logos li:nth-of-type(2) a {
		background-position: -80px 0px;
	}

	.logos li:nth-of-type(3) a {
		background-position: -160px 0px;
	}

	.logos li:nth-of-type(4) a {
		background-position: -240px 0px;
	}

	.logos li:nth-of-type(5) a {
		background-position: -320px 0px;
	}
}

@media screen and (min-width: 640px) and (max-width: 767px) {	
	.info-container {
		padding-bottom: 65px;
	}

	/* 3.4.1 - Slider section */
	.info-slider-container {
		height: 280px;
	}

	.top-logo {
		width: 50px;
		height: 45px;
	}

	.nav-arrow {
		width: 90px;
		height: 90px;
	}

	.info-slider {
		width: 400px;
	}

	.image {
		width: 162px;
	}

	.phone-container ul {
		top: 54px;
		left: 12px;
		width: 138px;
		height: 204px;
	}

	.phone-container li {
		width: 138px;
	}

	.slide-content {
		width: 154px;
	}

	.slide-content .title {
		font-size: 18px;
	}

	.slide-content p:nth-of-type(2) {
		font-size: 15px;
	}

	.content-list .upper {
		font-size: 8px;
	}

	.slider-nav a {
		width: 6px;
		height: 6px;
	}

	.logos li a {
		background-size: auto 65px;
		height: 65px;
		width: 100px;
	}

	.logos li:nth-of-type(2) a {
		background-position: -100px 0px;
	}

	.logos li:nth-of-type(3) a {
		background-position: -200px 0px;
	}

	.logos li:nth-of-type(4) a {
		background-position: -300px 0px;
	}

	.logos li:nth-of-type(5) a {
		background-position: -400px 0px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	/* 3.4.1 - Slider section */
	.info-slider-container {
		height: 410px;
	}

	.top-logo {
		width: 62px;
		height: 60px;
	}

	.nav-arrow {
		width: 90px;
		height: 90px;
	}

	.info-slider {
		width: 500px;
	}

	.image {
		width: 210px;
	}

	.phone-container ul {
		top: 70px;
		left: 16px;
		width: 178px;
		height: 265px;
	}

	.phone-container li {
		width: 178px;
	}

	.slide-content {
		width: 200px;
	}

	.slide-content .title {
		font-size: 23px;
	}

	.slide-content p:nth-of-type(2) {
		font-size: 19px;
	}

	.content-list .upper {
		font-size: 10px;
	}

	.slider-nav a {
		width: 8px;
		height: 8px;
	}

	.logos li a {
		background-size: auto 85px;
		height: 85px;
		width: 130px;
	}

	.logos li:nth-of-type(2) a {
		background-position: -130px 0px;
	}

	.logos li:nth-of-type(3) a {
		background-position: -260px 0px;
	}

	.logos li:nth-of-type(4) a {
		background-position: -390px 0px;
	}

	.logos li:nth-of-type(5) a {
		background-position: -520px 0px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	/* 3.4 - Info Container */
	.info-container {
		padding-bottom: 110px;
	}

	/* 3.4.1 - Slider section */
	.info-slider-container {
		height: 540px;
	}

	.top-logo {
		width: 83px;
		height: 76px;
	}

	.nav-arrow {
		width: 90px;
		height: 90px;
	}

	.info-slider {
		width: 600px;
	}

	.image {
		width: 275px;
	}

	.phone-container ul {
		top: 92px;
		left: 22px;
		width: 232px;
		height: 345px;
	}

	.phone-container li {
		width: 232px;
	}

	.slide-content {
		width: 262px;
	}

	.slide-content .title {
		font-size: 31px;
	}

	.slide-content p:nth-of-type(2) {
		font-size: 25px;
	}

	.content-list .upper {
		font-size: 14px;
	}

	.slider-nav a {
		width: 10px;
		height: 10px;
	}

	.logos li a {
		background-size: auto 110px;
		height: 110px;
		width: 170px;
	}

	.logos li:nth-of-type(2) a {
		background-position: -170px 0px;
	}

	.logos li:nth-of-type(3) a {
		background-position: -340px 0px;
	}

	.logos li:nth-of-type(4) a {
		background-position: -510px 0px;
	}

	.logos li:nth-of-type(5) a {
		background-position: -680px 0px;
	}
}

@media screen and (min-width: 1620px) {
	/* Main Content */
	.main-container {
		background-attachment: url(../images/home_bg_big.jpg);
	}

	.home-intro {
		width: 700px;
		height: 670px;
	}

	.intro-logo {
    width: 450px;
	}

	.intro-text {
		font-size: 34px;
	}

	.video-link img {
		width: 45%;
	}

	.video-container {
		max-width: 1420px;
		max-height: 800px;
	}

	/* Slider section */
	.info-subcontainer, .info-slider-container {
		width: 80%;
		max-width: none;
		padding: 80px 0;
	}

	.info-slider {
    margin: 0 auto;
    height: 700px;
    width: 100%;
	}

	.phone {
		width: 360px;
		left: auto;
		right: 150px;
		background: url(../images/sprite@2x.png) no-repeat;
		background-size: 840px;
	}

	.phone-container {
		width: 315px;
		left: auto;
		right: 176px;
	}

	.phone-container ul {
    top: 115px;
	}

	/*.image {
		width: 25%;
		left: 25%
	}

	.phone-container img {
		width: auto;
		max-height: 472px;
	}
*/
	.slide-icon {
    background: url(../images/sprite@2x.png) no-repeat -344px -352px;
    background-size: 745px;
    margin-bottom: 40px;
	}

	.slide-content {
		width: 40%;
		right: 15%;
		padding-top: 40px;
	}

	.slide-content .title {
    font-size: 36px;
    width: 260px;
	}

	.slide-content p:nth-of-type(2) {
    font-size: 28px;
		padding: 0 130px;
	}

	.applestore-link {
		width: 200px;
		height: 60px;
		background: url(../images/sprite@2x.png) no-repeat -352px -272px;
		background-size: 745px;
	}

	.content-list .upper {
		font-size: 13px;
	}

	.nav-arrow {
    background: url(../images/sprite@2x.png) no-repeat;
    width: 90px;
    height: 100px;
    background-size: 745px;
	}

	.prev {
    background-position: -510px -376px;
	}

	.next {
    background-position: -510px -504px;
	}

	/* Social logos section */
	.social-logos li {
		display: inline-block;
		margin: 0;
		width: 200px;
		margin: 0 3%;
		vertical-align: top;
	}

	.social-logos li:first-of-type a {
    width: auto;
	}

	.sec-text {
		font-size: 22px;
	}

	.social-logos li a {
		height: 100%;
		width: 100%;
		min-width: 100px;
		margin: 0 auto;
	}

}