/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Retina Media Queries
2.0 - Mobile
3.0 - Tablet
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Retina Media Queries
--------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {  
	.supLx, 
	.indCriativas, 
	.slide-down, 
	.applestore-link, 
	.info-subcontainer:before, 
	.faces-icon, .ST-small-logo, 
	.nav-arrow, .first-slide-icon, 
	.second-slide-icon, 
	.third-slide-icon, 
	.partners-logos li, 
	.social-logos li a {
		/* Reference the @2x Sprite */
		background-image: url(../images/sprite@2x.png);
		/* Translate the @2x sprite's dimensions back to 1x */
		background-size: 980px 480px; 
	}

	.info-subcontainer:before {
		background-position: -667px -9px;
	}
}

/*--------------------------------------------------------------
2.0 - Mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	/* Landing */
	.intro-logo {
		height: 35%;
		width: auto;
		text-align: center;
	}

	.intro-logo img {
		width: auto;
		height: 100%;
	}

	.intro-text {
		margin: 6% auto;
	}

	.video-container {
		width: 90%;
		height: auto;
	}

	.video-link {
		height: 25%;
		width: auto;
	}

	.video-link img {
		width: auto;
		height: 100%;
		max-width: 150px;
		max-height: 150px;
	}

	.slide-down {
		background-size: 686px;
		background-position: -217px -160px;
		width: 60px;
		height: 40px
	}

	.bottom-content {
    height: 40px;
	}

	.landing-logos, .applestore-link {
		margin-top: -30px;
	}

	/* Slider */
	.info-slider {
    width: 100%;
	}

	/* Social logos */
	.social-logos li {
    width: 25%;
	}

	.social-logos li:first-of-type  {
    display: block;
    margin: 0px auto;
	}

	.social-logos li:first-of-type a {
		background-position: -560px -200px;
    height: 50px;
    margin: 0px auto 10px;
	}

	.social-logos li:nth-of-type(2) a {
    background-position: -580px -248px;
	}

	.social-logos li:nth-of-type(3) a {
    background-position: -586px -317px;
	}

	.social-logos li:nth-of-type(4) a {
    background-position: -580px -378px;
	}
}

@media screen and (max-width: 480px) {
	/* Landing */
	.intro-text {
    font-size: 16px;
		margin: 6% auto;
	}

	.video-link img {
		margin-top: -10px;
	}

	.video-link span {
		display: none;
	}

	.landing-logos, .applestore-link {
		display: none;
	}

	/* Content dividers */
	.info-subcontainer, .quotes-subcontainer {
		padding: 20px 10px;
		width: 100%;
	}

	.info-subcontainer .text, .info-subcontainer .textMT {
    width: 90%;
	}

	/* Slider */
	.info-slider {
    height: 295px;
	}

	.nav-arrow {
		display: none;
	}

	.phone {
    left: -9px;
    background-position: -540px -40px;
    background-size: 686px;
  }

  .phone-container {
    width: 110px;
    left: 0;
	}

  .image ul {
    top: 80px;
    left: -41px;
	}

  .image li {
    width: 148px;
	}

	.slide-content {
    width: 175px;
    right: 10px;
    padding: 10px 0;
	}

	.slide-content ul {
		height: 94%;
	}

	.first-slide-icon, .second-slide-icon, .third-slide-icon {
    width: 145px;
    height: 80px;
    background-size: 686px;
	}

	.first-slide-icon {
		background-position: 16px 0;
	}

	.second-slide-icon {
		background-position: 16px -90px;
	}

	.third-slide-icon {
		background-position: 16px -180px;
	}

	.slide-content .title {
		text-align: center;
    font-size: 16px;
    width: 135px;
	}

	.slide-content p:nth-of-type(2) {
		text-align: center;
    font-size: 12px;
    padding: 0px;
	}

	.info-slider .applestore-link {
    background-size: 686px;
    background-position: -135px -230px;
    margin-top: 0;
	}

	.slider-nav {
		left: 15px;
    bottom: 5px;
	}

	.slider-nav li {
    width: 6px;
    height: 6px;
	}

	/* Quotes */
	.quotes-subcontainer{
		font-size: 13px;
	}

	.quote q {
    font-size: 16px;
    margin-bottom: 15px;
	}

	/* Partners */
	.partners-logos li {
    display: block;
    height: 70px;
    width: 200px;
    margin: 0 auto 15px;
	}

	.partners-logos li:first-of-type {
    background-position: 10px -390px;
	}

	.partners-logos li:nth-of-type(2) {
    background-position: -190px -395px;
	}

	.partners-logos li:nth-of-type(3) {
    background-position: -387px -390px;
	}

	/* Story tellers */
	.faces-icon {
		position: relative;
		left: 0;
		top: 0;
		margin: 0 auto;
		height: 80px;
		background-position: -428px -195px;
	}

	.story-tellers p:nth-of-type(2) {
		margin-bottom: 15px;
	}

	/* Social logos */
	.social-logos li {
    width: 100px;
	}
}

/* Portrait */
@media screen and (max-width: 320px) {
	/* Landing */
	.home-intro {
		padding-top: 26%;
	}
}

/* Landscape */
@media screen and (min-width: 321px) and (max-width: 668px) {
	/* Landing */
	.home-intro {
		height: 100%;
		width: 70%;
	}

	.intro-text {
		font-size: 16px;
    margin: 10px auto;
	}

	.phone {
		background-position: -480px -40px;
	}

	.image {
		left: 30px;
	}

	.image ul {
		left: 0;
	}
}

/*--------------------------------------------------------------
3.0 - Tablet
--------------------------------------------------------------*/

@media screen and (min-width: 481px) and (max-width: 768px) {
	/* Slider */
	.info-slider {
		height: 410px;
	}

	.slide-content {
		padding-top: 20px;
	}

	.slide-content, .image {
		width: 50%;
	}

	.image {
		left: 6%;
	}

	.phone {
		background-position: -675px -70px;
	}

	.phone-container ul {
		top: 100px;
	}
}

/*--------------------------------------------------------------
3.0 - Large screens
--------------------------------------------------------------*/
@media screen and (min-width: 1620px) {
	/* 3.1 - Main Content */
	.home-intro {
		max-width: 700px;
	}

	.intro-text {
		font-size: 34px;
	}
}