/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Helpers
3.0 - Home
	3.1 - Main Content
	3.2 - Video
	3.3 - Bottom Content
		3.3.1 - Landing links
	3.4 - Info Container
		3.4.1 - Slider section
		3.4.2 - Quotes section
		3.4.3 - Be a story teller and subscribe section
		3.4.4 - Partners and social logos section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/
*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font-size: 14px;
	position: relative;
	font-family: 'Futura-Book';
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #0e76bc;
}

/*--------------------------------------------------------------
2.0 - Helpers
--------------------------------------------------------------*/
.uppertext {
	text-transform: uppercase;
}

.sec-text {
	font-family: 'Gill Sans MT Italic';
	color: #808284;
}

/*--------------------------------------------------------------
3.0 - Home
--------------------------------------------------------------*/
.main-container {
	position: relative;
	height: 100%;
	background: url(../images/WEB_home_BG.jpg) no-repeat #000;
	background-size: cover;
	background-position: center;
}

/* 3.1 - Main Content */
.home-intro {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 630px;
	width: 750px;
	margin: auto;
}

.intro-logo {
	background: url(../images/WEB_home_IMG_logo.png) no-repeat;
	background-size: 100%;
	display: block;
	width: 475px;
	height: 306px;
	margin: 0 auto;
}

.intro-text {
	color: #fff;
	font-size: 24px;
	margin: 0 auto;
	text-shadow: 0 0 20px #000;
	text-align: center;
	letter-spacing: 0.3px;
}

.video-link {
	background: url(../images/play_button.png) no-repeat;
	background-size: 100%;
	display: block;
	width: 190px;
	height: 190px;
	margin: 0 auto;
	text-shadow: 0 0 20px #000;
	opacity: 0.8;
}

/* 3.2 - Video */
.video-container {
	position: fixed;
	top:20px;
	display: none;
	width: 80%;
	max-width: 1080px;
	max-height: 610px;
	padding: 2px;
	background-color: #000;
	border-radius: 4px;
	z-index: 999;
}

.close {
	position: absolute;
	top: -15px;
	right: -15px;
	font-size: 17px;
	font-weight: bold;
	background-color: #fff;
	color: #696969;
	padding: 3px 9px;
	border-radius: 50%;
	border: 2px solid #696969;
}

.mask {
	position: absolute;
	top: 0;
	z-index: 900;
	background-color: #000;
	display: none;
}

/* 3.3 - Bottom Content */
.bottom-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 110px;
}

.slide-down {
	background: url(../images/slide_down.png) no-repeat;
	background-size: 100%;
	display: block;
	width: 106px;
	height: 106px;
	margin: 0 auto;
}

.applestore-link {
	background: url(../images/home_appstore.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 20px;
	width: 155px;
	height: 45px;
	margin: auto;
}

	/* 3.3.1 - Landing links 
	.landing-logos {
		position: absolute;
		left: 0;
		top: 0;
	}

	.supLx, .indCriativas {	
		background: url(../images/sprite.png) no-repeat;
		display: inline-block;
		width: 90px;
		height: 70px;	
		margin-left: 20px;
	}

	.supLx {
		background-position: -470px -110px;
	}

	.indCriativas {	
		background-position: -470px -15px;
	}
	*/

/* 3.4 - Info Container */
.info-container {
	position: relative;
	height: 100%;
	min-height: 900px;
}

	/* 3.4.1 - Slider section */
	.info-slider-container {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 580px;
		max-width: 1000px;
		margin: auto;
	}

	.top-logo {
		background: url(../images/top_logo.png) no-repeat;
		background-size: 100%;
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		display: block;
		width: 175px;
		height: 175px;
		margin: auto;
	}

	.prev {
		background: url(../images/arrow_left.png) no-repeat;
	}

	.next {	
		background: url(../images/arrow_right.png) no-repeat;
		right: 0;
	}

	.nav-arrow {
		background-size: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 160px;
		height: 160px;
		margin: auto;
		z-index: 9;
	}

	.info-slider {
		position: relative;
		width: 650px;
		height: 100%;
		margin: auto;
		overflow: hidden;
	}

	.image, .slide-content {
		position: absolute;
		height: 540px;
	}

	.image {
		width: 275px;
		left: 0;
		z-index: 1;
	}

	.phone {
		background: url(../images/iphone.png) no-repeat;
		background-size: 100%;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.phone-container {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
	}

	.phone-container ul {
		position: absolute;
		top: 62px;
		left: 24px;
		width: 227px;
		height: 404px;
		overflow: hidden;
	}

	.phone-container li {
		width: 210px;
	}

	.phone-container li:first-of-type, .content-list li:first-of-type {
		display: block;
		left: 0;
	}

	.phone-container li:last-of-type, .content-list li:last-of-type {
		left: -100%;
	}

	.phone-container li, .content-list li {
		position: absolute;
		left: 100%;
		width: 100%;
	}

	.content-list li {
		top: 0;
		bottom: 0;
		margin: auto;
		height: 375px;
	}

	.phone-container img {
		width: 100%
	}

	.slide-content {
		overflow: hidden;
		width: 275px;
		right: 0;
	}

	.slide-content ul {
		overflow: hidden;
	}

	.slide-content .title {
		font-family: 'Futura-Medium';
		font-size: 92px;
		color: #ebebec;
		text-align: left;
	}

	.slide-content p:nth-of-type(2) {
		color: #333;
		margin-bottom: 50px;
		font-size: 35px;
		font-weight: bold;
	}

	.slide-content p:nth-of-type(2) span {
		display: block;
		font-size: 25px;
		color: #4d4d4d;
	}

	.info-slider .applestore-link {
		position: relative;
		right: auto;
		margin: 0;
		display: block;
		width: 168px;
		height: 50px;
	}

	.content-list .upper {
		font-size: 14px;
		font-family: 'Futura-Medium';
		text-transform: uppercase;
	}

	.slider-nav {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
	}

	.slider-nav li {
		display: inline-block;
		margin: 0 3px;
	}

	.slider-nav a {
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #999;
	}

	.slider-nav .active {
		background-color: #333
	}

	.logos-container {
		position: absolute;
		bottom: 0;
		width: 100%;
		font-size: 16px;
	}

	.logos {
		margin: 0 auto;
		text-align: center;
	}

	.logos li {
		display: inline-block;
		margin: 0;
		vertical-align: top;
	}

	.logos li a {
		background: url(../images/sprite.png) no-repeat;
		background-size: auto 100%;
		display: block;
		height: 110px;
		width: 170px;
		margin: 0 auto;
	}

	.logos li:nth-of-type(2) a {
		background-position: -170px 0px;
	}

	.logos li:nth-of-type(3) a {
		background-position: -340px 0px;
	}

	.logos li:nth-of-type(4) a {
		background-position: -510px 0px;
	}

	.logos li:nth-of-type(5) a {
		background-position: -680px 0px;
	}

	.logos li:nth-of-type(6) a {
		background-position: -850px 0px;
	}

	.logos li img {
		width: 100%
	}

	.logos li p {
		margin-bottom: 0;
	}

/*
.info-subcontainer, .quotes-subcontainer {
	position: relative;
	border-top: 1px solid #bbbdc0;
	padding: 40px 0;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	color: #6d6e70;
}

.info-subcontainer:before, .divider-icon {
	content: "";
	width: 16px;
	height: 16px;
	background: url(../images/sprite.png) no-repeat -296px -425px;
	position: absolute;
	top: -8px;
	left: 49%;
}

.divider-icon {
	position: relative;
	display: block;
	top: 0;
}
*/
	/* 3.4.2 - Quotes section 
	.quote {
		margin: 30px auto;
	}

	.quote q {
		font-size: 20px;
		margin-bottom: 15px;
		display: block;
		color: #58585b;
	}
*/
	/* 3.4.3 - Be a story teller and subscribe section 
	.info-subcontainer .upper {
		text-transform: uppercase;
		font-size: 17px;
		font-family: 'Futura-Medium';
	}

	.info-subcontainer .text, .info-subcontainer .textMT {
		width: 58%;
		margin: 0 auto;
		color: #8b8b8b;
		margin-bottom: 20px;
		font-size: 15px;
	}

	.info-subcontainer .textMT {  // text with margin top 
		margin-top: 20px;
		margin-bottom: 0;
	}

	.faces-icon {
		position: absolute;
		left: 25px;
		top: 35px;
		display: block;
		width: 140px;
		height: 95px;
		background: url(../images/sprite.png) no-repeat -428px -178px;
	}
*/
	/* 3.4.4 - Partners and social logos section 
	.partners-logos {
		padding-top: 15px;
	}

	.partners-logos li {
		background: url(../images/sprite.png) no-repeat;
		display: inline-block;
		height: 100px;
		width: 200px;
		margin: 0 2%;
	}

	.partners-logos li:first-of-type {
		background-position: 28px -376px;
	}

	.partners-logos li:nth-of-type(2) {
		background-position: -185px -376px;
	}

	.partners-logos li:nth-of-type(3) {
		background-position: -388px -376px;
	}
*/